<div class="ui secondary menu">
  <a class="active item">
    Title
  </a>
  <div class="right menu">
    <a class="ui item">
      Cart
    </a>
    <a class="ui item">
      User
    </a>
  </div>
</div>