<div class="ui menu">
  <a class="active item">
    Title
  </a>
  <div class="right menu">
    <a class="ui item" href="/signin">
      Login
    </a>
    <a class="ui item" href="/signup">
      Register
    </a>
  </div>
</div>