<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/">
            Home
          </a>
        </div>
      </div>
    </div>


    {{#if isAuthenticated}}
    <a class="navbar-item" href="/shopping-cart">
      <span class="icon menu-cart-icon">
        <i class="fas fa-shopping-cart"></i>
      </span>
      Shopping Cart
      {{#if session.cart.totalQuantity}}
      <span class="badge cart-qty-badge">{{session.cart.totalQuantity}}</span>
      {{/if}}
    </a>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        {{user.email}}
      </a>
      <div class="navbar-dropdown">
        <a class="navbar-item" href="/profile">
          Profile
        </a>
        <hr class="navbar-divider">
        <a class="navbar-item" href="/logout">
          Logout
        </a>
      </div>
    </div>
    {{else}}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info" href="/signup">
            <strong>Sign up</strong>
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/signin">
            Log in
          </a>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</nav>


{{#contentFor "scripts"}}
<script src="/js/navbar.js"></script>
{{/contentFor}}