<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.1/bulma-accordion/dist/css/bulma-accordion.min.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.1/bulma-tooltip/dist/css/bulma-tooltip.min.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.1/bulma-accordion/dist/css/bulma-accordion.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  {{{block "styles"}}}
</head>

<body>
  <div class="container">
    {{> navbar}}
    {{{body}}}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
  <script src="/js/bulma-toast.js"></script>
  <script src="https://js.stripe.com/v3/"></script>

  {{{block "scripts"}}}
</body>

</html>