<div class="columns is-centered">
  <div class="column is-one-third-widescreen is-half-desktop is-three-quarters-tablet is-full-mobile">
    <div class="hero">
      <div class="hero-body">
        <form action="/forgot" method="POST">
          {{> validationErrors}}
          {{> accountError}}
          {{> success}}

          <div class="field">
            <div class="control">
              <label for="email">Email</label>
              <input name="email" class="input is-medium" type="email" placeholder="Your Email" autofocus required>
            </div>
          </div>
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <button type="submit" class="button is-info">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>