<section class="hero">
  <div class="hero-body">
    <div class="columns is-centered has-text-centered">
      <div class="column is-one-third-widescreen is-half-desktop is-three-quarters-tablet is-full-mobile">
        <h3 class="title has-text-grey">Log in</h3>
        <p class="subtitle has-text-grey">Please Log in to proceed</p>
        <div class="box">
          <form action="/signin" method="POST">
            {{> validationErrors}}
            {{> authError}}

            <div class="field">
              <div class="control">
                <label for="email">Email</label>
                <input name="email" class="input is-medium" type="email" placeholder="Your Email" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="password">Password</label>
                <input name="password" class="input is-medium" type="password" placeholder="Your Password">
              </div>
            </div>
            <button class="button is-block is-info is-medium is-fullwidth">Log in</button>
          </form>
        </div>
        <div class="block">
          <div>
            <span style="margin-right: 6px;">Don't have an account?</span><a href="/signup">Create one now</a>
          </div>
          <div class="bblock">
            <span style="margin-right: 6px;">Forgot password?</span><a href="/forgot">Reset password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{#contentFor 'scripts'}}
<script>
  window.onload = () => {
    const msg = '{{successMessage}}';
    if (msg !== '') toast({ message: msg });
  };
</script>
{{/contentFor}}