*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Table of Contents
/* ------------------------------------------------------------
  1. Shop page items
*/

/* 1. Shop page items */

.shop-card-footer {
  padding: 1rem;
  margin-top: auto;
}

.equal-height {
  display: flex;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.image.product-image {
  height: 280px;
  width: auto;
}

.image.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
