*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Shop page items */

.shop-card-footer {
  padding: 1rem;
  margin-top: auto;
}

.equal-height {
  display: flex;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.image.product-image {
  height: 280px;
  width: auto;
}

.image.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Error messages */

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.message.error-message {
  background: #b53645;
  color: #fff;
}

.message.success-message {
  background: #80d69b;
  color: #fff;
}

/* Navbar */
.navbar-menu {
  padding: 0 1.5rem;
}
