<section class="hero">
  <div class="hero-body">
    <div class="columns is-centered has-text-centered">
      <div class="column is-one-third-widescreen is-half-desktop is-three-quarters-tablet is-full-mobile">
        <h3 class="title has-text-grey">Checkout</h3>

        <div style="margin-bottom: 8px;">Complete your shipping and payment details bellow</div>

        <div class="box">
          <form action="/checkout" method="POST">
            {{> validationErrors}}

            <div class="field">
              <div class="control">
                <label for="name">Name</label>
                <input name="name" class="input is-medium" type="text" placeholder="Your Name" autofocus="true"
                  required>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="address">Address</label>
                <input name="address" class="input is-medium" type="text" placeholder="Your Address" required>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="cardName">Card Holder Name</label>
                <input name="cardName" class="input is-medium" type="text" placeholder="Card Holder Name" required>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="cardNumber">Card Holder Number</label>
                <input name="cardNumber" class="input is-medium" type="text" placeholder="Card Holder Number" required>
              </div>
            </div>

            <div class="columns" style="margin-bottom: 0;">
              <div class="field column is-marginless">
                <div class="control">
                  <label for="expirationMonth">Expiration Month</label>
                  <input name="expirationMonth" class="input is-medium" type="text" placeholder="Expiration Month"
                    required>
                </div>
              </div>
              <div class="field column is-marginless">
                <div class="control">
                  <label for="expirationYear">Expiration Year</label>
                  <input name="expirationYear" class="input is-medium" type="text" placeholder="Expiration Year"
                    required>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label for="cvc">CVC</label>
                <input name="cvc" class="input is-medium" type="text" placeholder="CVC" required>
              </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="button is-block is-info is-medium is-fullwidth">Pay ${{formatPrice totalPrice}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>