<style>
  .email-wrapper {
    padding: 2rem;
    background: #f6f7fc;
    color: #222;
  }

  p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 6px 0;
  }
</style>



<div class="email-wrapper">
  <p>Your password for the account <strong>{{email}}</strong> have been changed successfuly!</p>
</div>