<style>
  .email-wrapper {
    padding: 2rem;
    background: #f6f7fc;
    color: #222;
  }

  p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 6px 0;
  }

  .reset-button-link {
    text-decoration: none;
  }

  .reset-button {
    padding: 1rem 3rem;
    margin: 2rem 0;
    border: none;
    outline: none;
    background-color: #405fb4;
    color: #f8f8f8;
    font-weight: 600;
    cursor: pointer;
  }

  .reset-button:hover {
    background-color: #5470bb;
  }
</style>



<div class="email-wrapper">
  <p>You are recieving this because you (or someone else) have requested the reset of password for your account.</p>
  <p>Please click on the button bellow to complete the password reset process,
    and keep in mind that this email is validfor the next <strong>1 hour</strong>
  </p>

  <a class="reset-button-link" href="http://{{hostUrl}}/reset/{{token}}">
    <button class="reset-button">RESET</button>
  </a>

  <p>If you can't click the button, click the following link or paste it into your browser.</p>

  http://{{hostUrl}}/reset/{{token}}

  <p>If you didn't request this, please ignore this email and your password will remain unchanged.</p>
</div>